{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

<div>
    <div class="border max-w-lg mx-auto mt-20 flex flex-col">
        {% if product %}
        <div class="flex justify-center">
            Edit product
        </div>
        <div>
            <form class="flex flex-col" action="/product/edit/{{ product.id }}" method="POST">
                <p>Title</p>
                <label>
                    <input minlength="3" class="border" type="text" value="{{ product.title }}" name="title">
                </label>
                <p>Description</p>
                <label>
                    <input minlength="3" class="border" type="text" value="{{ product.description }}" name="description">
                </label>
                <p>Price Eur</p>
                <label>
                    <input min="0.01" step='0.01' class="border" type="number" value="{{ product.priceEur }}" name="priceEur">
                </label>
                <input type="submit">
            </form>
        </div>
        {% else %}
        <div>
            There is not product by your request
        </div>
        {% endif %}
    </div>

</div>